
<!DOCTYPE html>
<html lang="en">
  <head>
    <title>Python Flask Bucket List App</title>

    <link href="../static/css/signup.css" rel="stylesheet">
    <link href="../static/css/style.css" rel="stylesheet">
    <script src="../static/js/jquery-1.11.2.js"></script>
    <script src="../static/js/signUp.js"></script>
   
  </head>

{% block body %}
{% if session['logged_in'] %}
<p>You're logged in already!</p>
{% else %}


<form action="/login" method="POST">
	<div class="login">
		<div class="login-screen">
			<div class="app-title">
				<h1>VĂN BẢN PHÁP QUY</h1>
			</div>

			<div class="login-form">
				<div class="control-group">
				<input type="text" class="login-field" value="" placeholder="Tài khoản" name="username">
				<label class="login-field-icon fui-user" for="login-name"></label>
				</div>

				<div class="control-group">
				<input type="password" class="login-field" value="" placeholder="Mật khẩu" name="password">
				<label class="login-field-icon fui-lock" for="login-pass"></label>
				</div>

                <input type="submit" value="Đăng nhập" class="btn btn-primary btn-large btn-block" >
			    <br>
			</div>
		</div>
	</div>
</form>

{% endif %}
{% endblock %}
</html>

